<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.fintech_hackathon">

    <!-- Required to be able to access the Internet. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to be able to access the camera device. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChooseTransactionActivity"></activity>
        <activity android:name=".ShowQRcodeActivity" />
        <activity android:name=".ScanQRcodeActivity" />
        <activity android:name=".TransferMoneyActivity">

        </activity>
        <activity android:name=".RefreshAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
